@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Popins', sans-serif;
  color: #222;
}
.navbar {
  padding: .4rem;/*1rem = 16 px*/
}
.navbar-brand img {
  width: 40%;
  height: 40%;
  margin-left: 2rem;
}

.navbar-nav li {
  padding-right: 20px;
}
.nav-link {
  font-size: 1.1em !important;
}

.jumbotron {
  padding: 4rem !important;
  border-radius: 0; 
  color: #B45F32;
}
.padding {
  padding-bottom: 2rem;
}
.carousel-caption h1 {
  color: #F3A23E;
}
.carousel-caption h3 {
  color: #DC8A26
}
.carousel-inner img {
  width: 90%;
  height: 90%;
  margin-left: 5%;
}
.carousel-caption {
  position: absolute;
  top: 75%;
  transform: translateY(-50%);
}
.carousel-caption h1 {
  font-size: 200%;
  text-transform: uppercase;
  text-shadow: 2px 2px 15px #000;
}
.carousel-caption h3 {
  font-size: 100%;
  font-weight: 500;
  text-shadow: 1px 1px 10px #000;
  padding-bottom: .5rem;
}

























/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/fixedBack.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}

@media (max-width: 992px) {


}

@media (max-width: 768px) {
  .carousel-caption {
    top: 65%;
  }
  .carousel-caption h1 {
    font-size: 150%;
  }
  .carousel-caption h3 {
    font-size: 100%;
    font-weight: 400;
    padding-bottom: .2rem;
  }
}
@media (max-width: 576px) {
	.carousel-caption {
	    top: 62%;
	}
	.carousel-caption h1 {
	    font-size: 100%;
	}
	.carousel-caption h3 {
	    font-size: 80%;
	}
}
.levelButtons .btn-primary {
  background-color: #B45F32;
  border: 1px solid #B45F32;
}
.levelButtons .btn-primary:hover {
  background-color: #E89C3E;
  border: 1px solid #E89C3E;
}


/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/